*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background-color: #06080C;
    color: #FFFFFF;
    font-family: "Funnel Display", sans-serif;
    font-size: 16pt;
    font-weight: normal;
    line-height: 1.3em;;
}

/* estilo links */
a{
    text-decoration: none;
    color: #C7CF56;

    &:hover{
        text-decoration: underline;
    }
}

/* FONDOS*/
.bg, .texture{
    position: absolute;
    top: 0px;
    
    width: 100%;
    height: 100%;
    background-position: center center;

    opacity: 50%;
}

.bg{
    background-image: url(./img/next_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

.texture{
    background-image: url(./img/next_bg_tx.jpg);
    background-repeat: repeat;
    z-index: -1;
}

.container{
    position: fixed;
    width: 100%;
    height: 100%;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180px;
    transform: translate(-50%, -50%);
}

.coming{
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.mail {
    position: absolute;
    bottom: 50px;
    right: 50px;
}


/* RESPONSIVE */
@media(max-width:900px){
    .coming, .mail{
        font-size: 12pt;
    }
    .logo {
        position: absolute;
        width: 160px;
    }
}