*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background-color: #06080C;
    color: #FFFFFF;
    font-family: "Albert Sans", sans-serif;
    font-size: 16pt;
    font-weight: normal;
    line-height: 1.3em;;
}

.bottom {
    display: flex;
    height: 100%;
    align-items: end;
 }
.bg-linear {
    width: 100%;
    height: 300px;
    background: linear-gradient(#06080c00, #06080C);
    position: absolute;
 }


/*Darle formato al video de fondo*/

.yt-wrapper {
    overflow: hidden;
    max-width: 100%;
    z-index: -2;
    opacity: 40%;
    
}

.yt-frame-container {
        position: relative;
        padding-bottom: 56.25%; 
        padding-top: 0px;
        width: 300%;
        left: -100%;
}

.yt-frame-container iframe {
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%;
    pointer-events:none;
}

/* TEXTURA */
.texture{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/for_bg_tx.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    box-sizing: content-box;
    mix-blend-mode: screen;
    opacity: 20%;

}